html,body{
	width:100%;
	height:100%;
	background-color:#eee;
}
.app{
	width:100%;
	height:100%;
}

/* stage -- start */
.stage{
	position:relative;
	width:100%;
	height:600px;
}


/* stage -- end */

/* image -- start */
.img-sec{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	background-color:#ddd;
	
	@at-root{
		.img-figure{
			position:absolute;
			top:0;
			left:0;
			width:320px;
			height:360px;
			margin:0;
			padding:40px;
			box-sizing:border-box;
			background-color:#fff;
			cursor:pointer;
			transform-style:preserve-3d;
			
			&.isInverse{
				transform:rotateY(180deg);
			}
			.img-wrap{
				width:240px;
				height:240px;
				overflow:hidden;
				
				img{
					width:100%;
				}
			}
			
			figcaption{
				text-align:center;
				.img-title{
					margin:20px 0 0 0;
					font-size:16px;
					color:#a7a0a2;
				}
				.img-back{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					box-sizing:border-box;
					padding:40px;
					background:#fff;
					text-align:left;
					transform-style:preserve-3d;
					transform:rotateY(180deg);
					backface-visibility:hidden;
				}
			}
			
		}
	}
}

/* image -- end */

/* controller -- start */
.control-nav{
	position:relative;
	width:100%;
	height:30px;
	text-align:center;
	z-index:101;
}

/* controller -- end */

















